extends layout

block topo
  .container-topo
  
block content
    h1.
        Usuários
    ul
        each user, i in users
            li
                a(href="mailto:#{user.email}")= user.username
