extends layout

block topo
  .container-topo
  
block content
    h1.
        Usuários
    ul
        each usuario, i in usuarios
            li
                a(href="mailto:#{usuario.email}")= usuario.nome
