extends ../layout

block topo
  .container-topo

block content
  .container
    form(method="post")
      .row
        .col-md-4
          .form-group
            label(for="nome") Nome
            input.form-control(type="text" id="nome" name="nome")
          .form-group
            label(for="email") E-mail
            input.form-control(type="email" id="email" name="email")
          .row
            .col-md-6
              .form-group
                label(for="login") Login
                input.form-control(type="text" id="login" name="login")
          .row
            .col-md-6
              .form-group
                label(for="senha") Senha
                input.form-control(type="password" id="senha" name="senha")
        
      button.btn.btn-primary(type="submit") Gravar