extends ../layout
include mixins/menu.jade

block topo
  .container-topo

block content
  .container
    .row
      .col-md-3
        +menu("index")
      
      .col-md-9
        ul
            each produto, i in produtos
                li
                    a(href="/produtos/#{produto.produto_id}")= produto.nome
